# Dependency directories
node_modules/

# Compiled library files
dist/lib/

# Example files created by demo app
demo-app/db-files/*.json

# Example files created by tests
tests/**/*.json

# Test coverage
coverage/